<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<a href="/">
    <button type="button">Home</button>
</a>
<table>
    <thead>
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Status</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.category}"></td>
        <td th:text="${product.manufacturer}"></td>
        <td th:text="${product.model}"></td>
        <td th:text="${product.status}"></td>
        <th th:text="${product.quantity}"></th>
    </tr>
    </tbody>
</table>
</body>
</html>